html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  background: #444;
}

#game-area{
  width: 75%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#container {
  width: 720px;
  height: 720px;
  overflow: hidden;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.6);
  background: #666;
}

#menu-area{
  width: 25%;
  height: 100%;
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score{
  width: 50%;
  min-width: 90px;
  height: 20%;
  background: turquoise;
  margin-top: 10vh;
}

#current-score{
  width: 100%;
  height: 50%;
  min-width: 90px;
  background: violet;
}

#high-score{
  width: 100%;
  height: 10%;
  min-width: 90px;
  background: red;
}

#player-menu{
  width: 50%;
  min-width: 90px;
  height: 20%;
  background: turquoise;
  margin-top: 15vh;
}

#sound-toggle{
  background: yellow;
  width: 30%;
  height: 10%;
  margin-top: 10vh;
}